[submodule "pack/mgr/start/lazy.nvim"]
	path = pack/mgr/start/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
	branch = stable
[submodule "pack/work/start/whiteCryption.nvim"]
	path = pack/work/start/whiteCryption.nvim
	url = git@github.com:RIscRIpt/whiteCryption.nvim.git
